@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Morganite";
	src: url("/fonts/morganite/Morganite-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Morganite";
	src: url("/fonts/morganite/Morganite-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Morganite";
	src: url("/fonts/morganite/Morganite-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Morganite";
	src: url("/fonts/morganite/Morganite-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@layer base {
	body {
		@apply bg-black text-base text-white-100 font-montserrat;
	}
	/* Section Headings */
	h2 {
		@apply font-morganite text-3xl font-bold leading-none md:text-5xl;
	}

	h3 {
		@apply font-morganite text-4xl font-bold leading-none;
	}

	h4 {
		@apply font-morganite text-3xl font-medium;
	}

	.container {
		@apply px-[20px] md:max-w-md mx-auto;
	}

	.border-gradient-primary {
		background:
				linear-gradient(to bottom, #008080, #EE7402) border-box;
		border: 2px solid transparent;
		border-radius: 50%;
		mask:
				linear-gradient(#fff 0 0) padding-box,
				linear-gradient(#fff 0 0) border-box;
		mask-composite: exclude;
	}

	.border-gradient-secondary {
		background:
				linear-gradient(to bottom, #EE7402, #008080) border-box;
		border: 2px solid transparent;
		border-radius: 50%;
		mask:
				linear-gradient(#fff 0 0) padding-box,
				linear-gradient(#fff 0 0) border-box;
		mask-composite: exclude;
	}

}
